.sc-vue-errors{
    color: red;
}
/* .dmk-content{
    padding-left: 20px;
    padding-right: 20px;
} */
.content{
    /* margin-top: -30px !important; */
    /* margin-left: -30px !important;
    margin-right: 60px !important;
    margin-bottom: 30px !important;*/
}